<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django CRUD</title>

    <head>
        <style type="text/css">
            body {
                margin-left: 50%;
                margin-right: 50%;
                padding: 10px 10px 30px 10px;
                font-family: sans-serif;
            }
        </style>
    </head>

    <link rel="stylesheet" href="{% static 'myapp/css/bootstrap.css' %}"
</head>
<body>
    <div class="container mt-5"></div>
    <h2 class="text-center alert alert-danger">Function Based View ModelForm CRUD Project</h2>
    {% block content %}  {% endblock content %}

<script src="{% static 'myapp/js/jquery.js' %}"></script>
<script src="{% static 'myapp/js/popper.js' %}"></script>
<script src="{% static 'myapp/js/bootstrap.js' %}"></script>
</body>
</html>